<div id="main-cont" class="py-5">
    <div class="row container mx-auto">
        <div class="col-12 col-lg-4 text">
            <p id="main_heading" class="display-1 fw-bold fst-italic mb-3 mb-lg-5">
               Welcome to Exam Site 
            </p>
            <button class="my-btn mt-3 mt-lg-5" routerLink="/exam/1">
              Start Exam  
            </button>
        </div>
        <div class="col-12 col-lg-8 text-center">
            <img class="w-75" src="https://res.cloudinary.com/movie-booking-site/image/upload/v1683346933/Exam-app/exam_pbqct7.png" alt="">
        </div>
    </div>
</div>
