<div class=" container w-25 mx-auto p-2">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
  
      <div class="bg-primary p-2 text-white rounded-5 rounded-bottom-0 text-center">
        <p class=" fs-1">
          Dynamic Form
        </p>
      </div>
      <div *ngFor="let question of questions" class="form-row p-1">
        <app-dynamic-question [question]="question" [form]="form"></app-dynamic-question>
      </div>
  
      <div class="form-row mt-4 bg-primary p-2 px-4 text-white rounded-5 rounded-top-0">
        <button class="btn btn-light" type="submit" [disabled]="!form.valid">Save</button>
      </div>
    </form>
  
    <div *ngIf="payLoad" class="form-row">
      <strong>Saved the following values</strong><br>{{payLoad}}
    </div>
  </div>