
  <div class=" bg-lime-300 p-4 relative">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 my-1 rounded absolute hidden md:inline-block" (click)="goBack()">
        Back
      </button>
    <div class=" text-3xl text-lime-800 text-end">
    {{currScreen.name}}
    <p class=" text-xl text-primary font-semibold ">
        {{currScreen.type}}
    </p>
    
</div>
</div>
  
<!-- layout  -->
<div class="p-3" *ngIf="VIEW_FLAG">
    <p class="text-2xl text-center mb-4">Design Layout of Screen</p>
    
    <p class="text-center">
        Screen this side
    </p>
    <div class=" flex justify-center p-3">
        <img class=" h-2 " [src]="screenURL" alt="">
    </div>
    <div class=" p-6 w-2/3 mx-auto">
        <form [formGroup]="layoutForm">
        <ng-container *ngFor="let seat of seatTypes">
            <div class=" mb-2 grid grid-cols-7 " [formGroupName]="seat.id">
                <div class="text-xl text-red-500 col-span-2 flex items-center" >
                    <span>
                        {{seat.name}}
                    </span>
                </div>                
                <div class="flex flex-col col-span-2">
                    <label class="text-gray-700 text-sm font-semibold mb-1" for="inputField">No of Rows</label>
                    <div class="relative">
                      <input formControlName="rows" class="appearance-none w-36 border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" placeholder="Rows">
                    </div>
                    <div *ngIf="layoutForm.get(seat.id.toString())?.get('rows')?.invalid && (layoutForm.get(seat.id.toString())?.get('rows')?.touched || layoutForm.get(seat.id.toString())?.get('rows')?.dirty)">
                      <p *ngIf="layoutForm.get(seat.id.toString())?.get('rows')?.errors?.['min']" class=" text-red-500">Entre Valid rows</p>
                      <p *ngIf="layoutForm.get(seat.id.toString())?.get('rows')?.errors?.['max']" class=" text-red-500">Maximum 26 Rows Allowed</p>
                    </div>
                </div>
                <div class="flex flex-col col-span-2">
                    <label class="text-gray-700 text-sm font-semibold mb-1" for="inputField">Seats per row</label>
                    <div class="relative">
                      <input formControlName="seats"  class="appearance-none w-36 border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="number" placeholder="Seats">
                    </div>
                    <div *ngIf="layoutForm.get(seat.id.toString())?.get('seats')?.invalid && (layoutForm.get(seat.id.toString())?.get('seats')?.touched || layoutForm.get(seat.id.toString())?.get('seats')?.dirty)">
                      <p *ngIf="layoutForm.get(seat.id.toString())?.get('seats')?.errors?.['min']" class=" text-red-500">Entre Valid seats</p>
                    </div>
                </div>
            
                <div class="flex flex-col">
                    <label class="text-gray-700 text-sm font-semibold mb-1 text-center" for="inputField">Total Seats</label>
                    <div class="relative bg-lime-300 w-fit mx-auto p-2">
                      <p class="text-red-500">{{Total(seat.id)}}</p>
                    </div>
                </div>                  
            </div>
            <hr>
        </ng-container>
    </form>
    <div class=" text-xl text-red-500 flex justify-end w-11/12 mx-auto">
      Total seats in {{currScreen.name}} : <span class=" bg-sky-400 text-red-500 px-2"> {{GrandTotal}} </span> 
    </div>
    </div>
    <div class=" flex justify-center">
        <button [disabled]="layoutForm.invalid" (click)="onPreview()" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded disabled:bg-blue-300 disabled:hover:bg-blue-300">
            Preview
          </button>
    </div>
</div>




 <!-- -------------------------------------------------------------------------------- not VIEW_FLAG   -->

 <div class=" p-3" *ngIf="!VIEW_FLAG">
  <p class="text-2xl text-center mb-4 mt-8">Layout Already Added</p>
  <div class=" flex justify-center">
    <button [disabled]="layoutForm.invalid" (click)="openModal2()" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded disabled:bg-blue-300 disabled:hover:bg-blue-300">
        View
      </button>
</div>
 </div>


<!-- ---------------------------------------------------------- MODAL  -->

<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" *ngIf="modalOpen">
    <div class="bg-white p-6 rounded-lg h-3/4">
        <div class="flex justify-between">
            <h2 class="text-3xl text-lime-400 mb-4">Layout Preview</h2>
            <button (click)="closeModal()" class="text-gray-500 hover:text-gray-700">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
              </svg>
            </button>
          </div>
          <div >
            <p class="text-center">
              Screen this side
          </p>
          <div class=" flex justify-center p-3">
              <img class=" h-2 " [src]="screenURL" alt="">
          </div>
          </div>
      <div class=" h-96 overflow-auto">     
        <ng-container *ngFor="let k of keys">
          <div class=" mx-auto">
            <p class=" p-2 text-xl">
              {{getSeatTypeName(k)}}
            </p>
            <hr>
            <div class=" p-2">
              <ng-container *ngFor="let row of previewData[k]|keyvalue">
                <div class=" p-2 flex justify-center">
                  <span class="p-2 me-10">
                    {{row.key}}
                  </span>
                  <ng-container *ngFor="let s of row.value">
                    <span class=" bg-blue-300 p-2 me-2 text-md" [ngClass]="{'me-6':s%6===0}">
                      {{s}}                    
                    </span>
                  </ng-container>
                  
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>

      </div>

      <div class="flex justify-end mt-6">
        <button class="px-4 py-2 bg-gray-500 me-2 text-white rounded hover:bg-gray-600" (click)="closeModal()">Close</button>
        <button class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600 disabled:bg-green-300 disabled:hover:bg-green-300" [disabled]="previewData['areInnerObjectsEmpty']" (click)="onPostLayout()">Post Layout</button>
      </div>
      
    </div>
  </div>


  <!-- ---------------------------------------------------------- MODAL 2----------------------------------------------------------  -->


  <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" *ngIf="modalOpen2">
    <div class="bg-white p-6 rounded-lg h-3/4">
        <div class="flex justify-between">
            <h2 class="text-3xl text-lime-400 mb-4"> {{currScreen.name}} Layout</h2>
            <button (click)="closeModal2()" class="text-gray-500 hover:text-gray-700">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6">
                <line x1="18" y1="6" x2="6" y2="18" />
                <line x1="6" y1="6" x2="18" y2="18" />
              </svg>
            </button>
          </div>
          <div >
            <p class="text-center">
              Screen this side
          </p>
          <div class=" flex justify-center p-3">
              <img class=" h-2 " [src]="screenURL" alt="">
          </div>
          </div>
      <div class=" h-96 overflow-auto">     
        <ng-container *ngFor="let s of ScreenLayout">
          <div class=" mx-auto">
            <p class=" p-2 px-10 text-xl flex justify-between">
              <span>{{getSeatTypeName(s.seatType)}}</span>
              <span class="text-success-600">{{s.price|currency:'INR'}}</span>
             
            </p>
            <hr>
            <div class=" p-2">
              <ng-container *ngFor="let row of s.seatgroup">
                <div class=" p-2 flex justify-center">
                  <span class="p-2 me-10">
                    {{row.row}}
                  </span>
                  <ng-container *ngFor="let s of row.rowSeats">
                    <span class=" bg-blue-300 p-2 me-2">
                      {{s}}                    
                    </span>
                  </ng-container>
                  
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>

      </div>
      <p>
        
      </p>
      <div>

      </div>
      <div class="flex justify-end mt-6">
        <button class="px-4 py-2 bg-gray-500 me-2 text-white rounded hover:bg-gray-600" (click)="closeModal2()">Close</button>
      </div>
      
    </div>
  </div>
  