<nav class="navbar navbar-expand-sm navbar-light" style="background: linear-gradient(90deg, #F794A4 0%, #FDD6BD 100%);">
      <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="https://res.cloudinary.com/dadhpdkco/image/upload/v1682151312/myAssets/Tutorial-Summary/Logo_100x75_transparent_whelir.png" alt="Radixweb">
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0 w-100 d-flex justify-content-end">
                <li class="nav-item pe-auto">
                    <a routerLink="/" routerLinkActive="fw-bold" class="nav-link">Home</a>
                </li>
                <ng-container *ngFor="let subject of subjectList">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/'+subject" routerLinkActive="fw-bold">{{subject}}</a>
                </li>
                </ng-container>
            </ul>
        </div>
  </div>
</nav>
