<div class=" h-screen overflow-hidden">



<!-- Main navigation container -->
<nav
  class=" fixed flex w-full flex-wrap items-center justify-between bg-slate-700 py-2 text-neutral-200 shadow-lg lg:flex-wrap lg:justify-start lg:py-4"
  data-te-navbar-ref>
  <div class="flex w-full flex-wrap items-center justify-between px-3">
    <!-- Hamburger button for mobile view -->
    <button
      class="block border-0 bg-transparent px-2 text-neutral-200 hover:no-underline hover:shadow-none focus:no-underline focus:shadow-none focus:outline-none focus:ring-0 lg:hidden"
      type="button"
      data-te-collapse-init
      data-te-target="#navbarSupportedContent4"
      aria-controls="navbarSupportedContent4"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <!-- Hamburger icon -->
      <span class="[&>svg]:w-7">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-7 w-7">
          <path
            fill-rule="evenodd"
            d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
            clip-rule="evenodd" />
        </svg>
      </span>
    </button>

    <!-- Collapsible navigation container -->
    <div
      class="!visible mt-2 hidden flex-grow basis-[100%] items-center lg:mt-0 lg:!flex lg:basis-auto"
      id="navbarSupportedContent4"
      data-te-collapse-item>
      <!-- Navbar title -->
      <a class="pr-2 text-3xl font-semibold text-white"  >
        Admin
        <span class="text-base italic text-blue-500">Panel</span>
      </a>
      <!-- Left navigation links -->
      <ul
        class="list-style-none mr-auto flex flex-col pl-0 lg:flex-row"
        >
        <!-- Add movie -->
        <li class="my-4 lg:my-0 lg:pr-2  text-white">
          <a
            class="lg:px-2"
             routerLink="movie"
             routerLinkActive="text-red-500"
             [routerLinkActiveOptions]="{exact: true}"
            >Add Movie</a
          >
        </li>
        <li class="my-4 lg:my-0 lg:pr-2 text-white">
          <a
            class="lg:px-2"
             routerLink="movielist"
             routerLinkActive="text-red-500"
             [routerLinkActiveOptions]="{exact: true}"
            >Movies</a>
        </li>
        <!-- Cast link -->
        <li class="mb-4 lg:mb-0 lg:pr-2 text-white">
          <a
            class="p-0 lg:px-2"
             routerLink="cast"
             routerLinkActive="text-red-500"
             [routerLinkActiveOptions]="{exact: true}"
            >Add Cast</a
          >
        </li>
        <li class="mb-4 lg:mb-0 lg:pr-2 text-white">
          <a
            class="p-0 lg:px-2"
             routerLink="castlist"
             routerLinkActive="text-red-500"
             [routerLinkActiveOptions]="{exact: true}"
            >Casts</a
          >
        </li>
        
      </ul>
    </div>

    <!-- Right elements -->
    <div class="relative flex items-center">




      <!-- Second dropdown container -->
      <div class="relative" data-te-dropdown-ref>
        <!-- Second dropdown trigger -->
        <a
          class="hidden-arrow flex items-center whitespace-nowrap transition duration-150 ease-in-out motion-reduce:transition-none"
           
          id="dropdownMenuButton2"
          role="button"
          data-te-dropdown-toggle-ref
          aria-expanded="false">
          <!-- User avatar -->
          <img
            src="https://res.cloudinary.com/movie-booking-site/image/upload/v1685514180/User/user-removebg-preview_fkvnvp.png"
            class="rounded-full"
            style="height: 36px; width: 36px"
            alt=""
            loading="lazy" />
        </a>
        <!-- Second dropdown menu -->
        <ul
          class="absolute left-auto right-0 z-[1000] float-left m-0 mt-1 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
          aria-labelledby="dropdownMenuButton2"
          data-te-dropdown-menu-ref>
          <!-- Second dropdown menu items -->
          <li>
            <a
              class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
               
              data-te-dropdown-item-ref
              >Change Password</a
            >
          </li>
          <li>
            <a
              class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-white/30"
              (click)="onLogout()"
              data-te-dropdown-item-ref
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
</nav>
<div class=" h-16">

</div>
<router-outlet></router-outlet>
</div>